<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4 sidebar3">

                <div class="logo">
                    <img src="http://lorempixel.com/output/sports-q-c-64-64-2.jpg" class="img-responsive" alt="Logo">
                </div>
                <div class="name">
                    <p>Arshi S</p>
                    <p>12 Contributions</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 sidebar3">
                <div class="left-navigation">
                    <ul>
                        <li><i class="fa fa-book" aria-hidden="true"></i>Books</li>
                        <li><i class="fa fa-bookmark-o" aria-hidden="true"></i>Active Books <span class="activebooks pull-right">3</span></li>
                        <li><i class="fa fa-trophy" aria-hidden="true"></i>Recommendations</li>
                        <li><i class="fa fa-users" aria-hidden="true"></i>People</li>
                        <li class="list">
                            <div class="dropdown">
                                <i class="fa fa-list" aria-hidden="true"></i>My Wishlist <i class="fa fa-plus pull-right" aria-hidden="true"></i>
                            </div>
                            <ul class="submenu hide">
                                <li>The Sealed Nectar</li>
                                <li>Pride and Prejudice</li>
                                <li>HTML5 for Web Designers</li>
                                <li>The 100, Michael H Heart</li>
                            </ul>
                        </li>
                      </ul>
                        <ul class="category">
                        <li><i class="fa fa-circle-thin" aria-hidden="true"></i>Family Reading</li>
                        <li><i class="fa fa-circle-thin" aria-hidden="true"></i>Education</li>
                        <li><i class="fa fa-circle-thin" aria-hidden="true"></i>Business</li>
                      </ul>
                        <ul>
                        <li><i class="fa fa-cog" aria-hidden="true"></i>Settings</li>
                        <li><i class="fa fa-power-off" aria-hidden="true"></i>Logout</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 main-content">
                    <p class="notice"><%= notice %></p>
                   <p class="alert"><%= alert %></p>
              <%= yield %>
            </div>
           
        </div>
    </div>
  </body>
</html>

<script>
    window.onload=function(){

$('.dropdown').click(function(){
$(this).siblings(".submenu").toggleClass('hide');


});
}
</script>